:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 100px;
    --fs-700: clamp(1.5rem, 2vw + 1rem, 3rem);
    --fs-600: 32px;
    --fs-500: 28px;
    --fs-400: clamp(10px, 1vw + 4px, 20px);
    --fs-300: 16px;
    --fs-200: 14px;

    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

    --lh-3: 3rem;
    --lh-2: 2rem;
    --lh-1: 1rem;
}
@media (max-width: 45em) {
    :root {
        --fs-900: 4.5rem;
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 20px;
        --fs-400: 16px;
    }
}

@media (max-width: 35em) {
    :root {
        --fs-800: 6.25rem;
        --fs-700: 3rem;
        --fs-600: 2rem;
        --fs-500: 16px;
        --fs-400: 15px;

        --lh-3: 3rem;
        --lh-2: 2rem;
        --lh-1: 1rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: var(--fs-400);
    font-family: var(--ff-sans-normal);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    font-weight: 400;
    line-height: 1.5rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
}

h1,
h2,
h3,
h4,
h5,
p,
picture,
img {
    margin: 0
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

input,
textarea {
    font: inherit;
}

.container {
    max-width: 100rem;
    margin-inline: 2rem;
    padding-inline: 2rem;
}

.grid-container {
    text-align: center;
    place-items: center;
    display: grid;
    padding-inline: 2rem;
    --grid-gap: 2rem;
}
.grid-container p:not[class] {
    max-width: 50ch;
}
@media (min-width: 45em) {
    .grid-container {
        place-items: center;
        text-align: left;
        --grid-gap: 3rem;
        column-gap: var(--grid-gap, 2rem);
        grid-template-columns: minmax(5rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
    }
    .grid-container--home > *:first-child {
        grid-column: 2;
    }

    .grid-container--home > *:last-child {
        place-items: center;
        align-items: end;
        grid-column: 3;
    }
    .grid-container--home {
        padding-bottom: max(10rem, 1vh);
        align-items: end;
    }
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

.bg-white {background-color: hsl(var(--clr-white));}
.bg-dark {background-color: hsl(var(--clr-dark));}
.bg-accend {background-color: hsl(var(--clr-light));}

.text-white {color: hsl(var(--clr-white) / var(--opacity, 1));}
.text-dark {color: hsl(var(--clr-dark));}
.text-accend {color: hsl(var(--clr-light));}

.uppercase {
    text-transform: uppercase;
}

.ff-serif {font-family: var(--ff-serif);}
.ff-sans-normal {font-family: var(--ff-sans-normal);}
.ff-sans-cond {font-family: var(--ff-sans-cond);}

.letter-spacing-1 {letter-spacing: 4.75px;}
.letter-spacing-2 {letter-spacing: 2.7px;}
.letter-spacing-3 {letter-spacing: 2.35px;}

.fs-900 {font-size: var(--fs-900);}
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1em);
    
}

.large-button {
    position: relative;
    display: grid;
    z-index: 1;
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
    font-size: 2rem;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl( var(--clr-white) / .15);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 500ms ease-in-out;
}
.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

.primary-navigation > .active {
    border: 0;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation span {
    font-weight: 600;
    margin-right: 0.5rem;
}
.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-icon {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.mobile-nav-toggle {
    display: none;
}

nav {
    order: 2;
}

@media (min-width: 35em) and (max-width: 45em) {
    .primary-navigation span {
        display: none;
    } 
}
@media (min-width: 35em) {
    .primary-navigation {
        --space-under: 2.5rem;
        background-color: hsl( var(--clr-white) / 0.05);
        backdrop-filter: blur(0px);
        padding-inline: 2rem;
        list-style: none;
        margin: 0;  
    }
    .primary-navigation > .active {
        border-bottom: hsl(var(--clr-white)) solid 2px;

    }
}
@media (min-width: 45em) {
    .primary-navigation {
        --space-under: 1rem;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: hsl( var(--clr-white) / 0.2);
        backdrop-filter: blur(4px);
        margin-block: 1rem;
        order: 2;
        padding-inline: 4rem;
    }
    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin-right: -2.5rem;
        background: hsl( var(--clr-white) / 0.3);
        order: 1;
        
    }
}
@media (max-width: 35em) {
    
    .primary-navigation {
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        list-style: none;
        flex-direction: column;
        position: fixed;
        background-color: hsl(var(--clr-white) / 0.1);
        backdrop-filter: blur(15px);
        inset: 0 0 0 20%;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        background-image: url(./image/Group.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        z-index: 2000;
        border: 0;
        position: absolute;
        aspect-ratio: 1;
        width: 1.5rem;
        top: 2rem;
        right: 2rem;
    }
    .mobile-nav-toggle[data-aria-expanded="true"] {
        background-image: url(./image/icon-close.svg);
    }
    .mobile-nav-toggle:focus {
        border: 1px solid white;
    }
    
}
.larger-underline-navigation > * {
    cursor: pointer;
    border: 0;
    padding: var(--space-under, 1rem) 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0);
}
.larger-underline-navigation > *:hover,
.larger-underline-navigation > *:focus {
border-color: hsl(var(--clr-white) / 0.6);

}

.larger-underline-navigation > .active,
.larger-underline-navigation > [aria-selected="true"] {
    border-color: hsl(var(--clr-white));
}

@media (min-width: 45rem) {
    .larger-underline-navigation {
        --space-under: 2rem;
    }
}

.smaller-underline-navigation {
    --gap: 2rem;
    --space-under: 1rem;
}
.smaller-underline-navigation > * {
    border: none;
    border-bottom: hsl(var(--clr-white) / 0) 4px solid;
    padding: var(--space-under) 0;
}

.smaller-underline-navigation > *:hover,
.smaller-underline-navigation > *:focus {
    cursor: pointer;
    border-color: hsl(var(--clr-white) / 0.7);
}

.smaller-underline-navigation > .active,
.smaller-underline-navigation > [aria-selected="true"] {
    border-color: hsl(var(--clr-white));
}

.dot-navigation {
    --gap: 1rem;
    --space-under: 0rem;
}

.dot-navigation > * {
    border-radius: 50%;
    background-color: hsl(var(--clr-white) / 0.2);
    aspect-ratio: 1;
    border: none;
}

.dot-navigation > *:hover,
.dot-navigation > *:focus {
    cursor: pointer;
    background-color: hsl(var(--clr-white) / 0.7);
}

.dot-navigation > .active,
.dot-navigation > [aria-selected="true"] {
    background-color: hsl(var(--clr-white));
}

.button-navigation {
    --gap: 3rem;
    flex-direction: column;
}

.button-navigation > * {
    padding: 0 2rem;
    border-radius: 50%;
    line-height: 5rem;
    background-color: hsl(var(--clr-dark));
    color: hsl(Var(--clr-white));
    height: 80px;
    width: 80px;
    border: none;
    font-weight: 400;
    border: 1px solid hsl(var(--clr-white) / 0.2);
}

.button-navigation > *:hover,
.button-navigation > *:focus {
    border-color: hsl(var(--clr-white) / 1);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    cursor: pointer;
}

.button-navigation > .active,
.button-navigation > [aria-selected="true"] {
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
}

.home {
    background-position: center bottom;
    background-size: cover;
    background-image: url(image/BitmapMobile.jpg);
}

@media (min-width: 35rem) {
    .home{background-image: url(image/Bitmap.jpg);}    
}
@media (min-width: 45rem) {
    .home{
        background-position: center center;
        background-image: url(image/BitmapTablet.jpg);
        
    }    
}

/* Destination CSS */

.grid-container--destination {
    --flow-space: 2rem;
    
    grid-template-areas: 
        '. title .'
        '. imagelmao .'
        '. tabs .'
        '. info .';
}
.title {
    grid-area: title;
    margin-top: 2rem;
}
.grid-container--destination > picture {
    grid-area: imagelmao;
}

.grid-container > picture > img {
    max-width: 90%;
}

.grid-container--destination > .tab-list {
    justify-self: center;
    grid-area: tabs;
}

.grid-container--destination > .destination-info {
    justify-self: center;
    grid-area: info;
}

.destination-meta {
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0;
}

.grid-container--destination > .destination-info > p{
    max-width: 50ch;
}

@media (min-width: 45rem) {
    
    .title {
        margin-top: 2rem;
    }
    .grid-container--destination {
        grid-template-areas: 
        '. title title .'
        '. imagelmao tabs .'
        '. imagelmao info .';
        justify-items: center; 
        padding-bottom: 2rem;
    }
    .grid-container--destination > .tab-list {
        justify-self: start;
    }
    .destination-meta {
        flex-direction: row;
        border-top: 1px solid hsl(var(--clr-white) / 0.5);
        flex-direction: row;
        justify-content: start;
        padding-top: 2rem;
    }
    
}

@media (min-width: 35rem){
    .grid-container--destination {
        align-content: start; 
    }

    .destination-meta {
        --gap: 2.5vw;
    }
    .title {
        justify-self: start;
    }

}

/* Crew */
.grid-container--crew {
    grid-template-areas: 
    "title"
    "imagelmao"
    "navigation"
    "details";
}
.grid-container--crew > .title {
    grid-area: title;
}

.grid-container--crew > picture {
    grid-area: imagelmao;
    
}

.grid-container--crew > picture > img {
    max-width: 80%;
}

.grid-container > .dot-navigation {
    grid-area: navigation;
}

.grid-container > .crew-details {
    grid-area: details;
}
@media (min-width: 35rem) {
    
    .grid-container--crew {
        grid-template-areas: 
        "title"
        "details"
        "navigation"
        "imagelmao";
    }
    .grid-container--crew > picture {
        
        align-self: flex-end;
    }

    .grid-container--crew > picture > img {
        max-width: 60%;
    }

    .grid-container > .dot-navigation {
        justify-self: center;
    }

    .crew-details  h2 {
        opacity: 0.5;
    } 

    .crew-details p  {
        max-width: 50ch;
    }
    
}

@media (min-width: 45rem) {
    .grid-container--crew {
        grid-template-areas: 
    ". title imagelmao ."
    ". details imagelmao ."
    ". navigation imagelmao ."
    ". navigation imagelmao .";
    }
    .grid-container--crew > picture > img {
        max-width: 100%;
        align-self: flex-end;
    }
}

.flow-space--small {
    --flow-space: 2rem;
}

.flow-space--medium {
    --flow-space: 2rem;
}

.flow-space--big {
    --flow-space: 3rem;
}

/* Technology */

.grid-container--technology {
    grid-template-areas:
    "title"
    "image"
    "navigation"
    "details";
    padding-bottom: 2rem;
}

.technology-navigation {
    flex-direction: row;

}

.title--technology {
    grid-area: title;
}

.grid-container--technology > .technology-navigation {
    grid-area: navigation;
}

.grid-container--technology > .technology-content {
    grid-area: details;
    justify-self: center;
}
.grid-container--technology > picture {
    grid-area: image;
    display: grid;
    aspect-ratio: 1;
    width: 100%;
    margin: 0;
    
}

@media (min-width: 35rem) {
    .grid-container--technology {
        grid-template-areas:
        "title"
        "image"
        "navigation"
        "details";
        padding-bottom: 2rem;
    }

    .technology-navigation {
        flex-direction: row;
    
    }
    .grid-container--technology > picture {
        justify-self: flex-end;
        max-width: 100%;
    }

    .technology-content p {
        max-width: 50ch;
    }
}

@media (min-width: 45rem) {
    
    .grid-container {
        padding-inline: 0rem;
    }
    .grid-container--technology {
        grid-template-columns: 5rem minmax(1rem, 3rem) minmax(16rem, 1fr) minmax(25rem, 1fr);
        grid-template-areas:
        ". title title ."
        ". navigation details image"
        ". navigation details image"
        ". . . .";
        justify-self: center;
        align-items: center;
    }

    
    .grid-container--technology > picture {
        margin: 0;
        padding: 0;
        justify-self: flex-end;
        max-width: 80%;
    }

    .technology-content p {
        line-height: var(--lh-2);
    }

    .technology-navigation {
        flex-direction: column;
    
    }
}